.title {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 40px;
}

.project {
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.card {
    background-color: #ccc;
    border-radius: 10px;
    max-width: 250px;
    height: 350px;

    a {
        text-decoration: none;
        color: #1a1919;
        text-align: center;
        margin-bottom: 10px;
        transition: all 0.3s;
        &:hover{
            opacity: 0.8;
        }
        h3{
            padding: 5px 0;
        }
        div.containerImage {
            position: relative;
            width: 250px;
            height: 150px;

            .projectImage {
                position: relative;
                width: 250px;
                height: 150px;
                object-fit: cover;
            }
        }

        p {
            font-size: 14px;
            text-align: left;
            padding: 15px;
        }
    }

}
